.post-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 2rem;
}

.comments-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1rem;
}
